<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('partials/header.ejs')%>

    <title>Review</title>
</head>

<body>

    <h1>Review</h1>
    <h3>Please rate the book: </h3>

    <div id='rating'>
        <span id="r1"></span>
        <span id="r2"></span>
        <span id="r3"></span>
        <span id="r4"></span>
        <span id="r5"></span>
    </div>

    <form action="/b/confirmreturn" method="post" style="display: inline;">
        <input hidden name="rating">
        <input type="number" name="rating" style="width:3em"> Stars
        <br><br>
        <button type="submit" class="btn btn-primary">Rate</button>
    </form>
    <form action="/b/confirmreturn" method="post" style="display: inline;">
        <input type="number" name="rating" value="0" hidden>
        <button type="submit" class="btn btn-secondary">No Thanks</button>
    </form>

    <%- include('partials/scripts.ejs')%>
</body>

</html>

<style>
    #rating span {
        font-size: 40px;
    }

    #rating span::before {
        content: "☆";
    }

    #rating span.active::before {
        content: "★";
    }

    #rating span:hover {
        cursor: pointer;
    }
</style>

<script>
    document.querySelector('#rating').addEventListener('click', function (e) {
        let action = 'add';
        for (const span of this.children) {
            span.classList[action]('active');
            if (span === e.target) action = 'remove';
        }
    });
</script>