<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('partials/header.ejs')%>

    <title>Review</title>
</head>

<body>

    <h1>Review</h1>
    <div style="text-align: center; vertical-align: middle;">
        <h3>Please rate the book: </h3>
        <div id='rating'>
            <span id="1"></span>
            <span id="2"></span>
            <span id="3"></span>
            <span id="4"></span>
            <span id="5"></span>
        </div>

        <form action="/b/confirmreturn" method="post" style="display: inline;">
            <input hidden id="selection" name="rating" value="0">
            <button type="submit" class="btn btn-primary">Rate</button>
        </form>
        <form action="/b/confirmreturn" method="post" style="display: inline;">
            <input type="number" name="rating" value="0" hidden>
            <button type="submit" class="btn btn-secondary">No Thanks</button>
        </form>
    </div>

    <%- include('partials/scripts.ejs')%>
</body>

</html>

<style>
    #rating span {
        font-size: 40px;
    }

    #rating span::before {
        content: "☆";
    }

    #rating span.active::before {
        content: "★";
        color: gold;
    }

    #rating span:hover {
        cursor: pointer;
    }
</style>

<script>
    document.querySelector('#rating').addEventListener('click', function (e) {
        if (e.target.id == "rating") return
        let action = 'add';
        for (const span of this.children) {
            span.classList[action]('active');
            if (span === e.target) action = 'remove';
        }
        document.getElementById("selection").setAttribute("value", e.target.id)
    });

</script>