<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('../partials/header.ejs')%>

    <title>System Admin</title>
</head>

<body>
    <h1>System Admin Home</h1>

    <a href = "/admin/listUsers" class="btn btn-outline-primary">List users</a>

    <%- include('../partials/scripts.ejs')%>
</body>

</html>