/*body {
    background: url(../images/backgroundimg.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}*/

.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.top {
    background-color: darkslategrey;
    color: lightgoldenrodyellow;
    padding: 0.5%;
    top: 0px;
    width: 100%;
    position: fixed;
    z-index: 1;
}