/*body {
    background: url(../images/backgroundimg.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}*/

.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}